tags
/out/*.pdf
/bib/*.pdf
/meta/*.pdf
*.epub
*.run.xml
*.djvu
*.mobi
*.aux
*.log
*.bbl
*.bcf
*.blg
/urls.tex
*.out
/auto/
*.toc
/bib/r-packages.txt
*.dvi
/log/*.tex
/*/_region_.tex
*.html
*.swp
*.Rhistory
*.ps
*.glg
*.glo
*.gls
*.ist
*.rdb
